﻿
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Areas/BeachTShirt/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/button.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="card-columns">
            @if (Model != null && Model.LSTdesignList.Count > 0)
            {
                for (var i = 0; i < Model.LSTdesignList.Count; i++)
                {
                    var item = Model.LSTdesignList[i];
                    <div class="card" style="margin:20px;height:300px;width:300px">
                        <img src="~/Content/image/@item.Design" class="card-img-top">
                        <div class="card-body pt-0 px-0">
                          @if(item.intQty==0)
                          {
                             <center><p style="color:red">Out Of Stock</p></center> 
                          }
                            <center>
                                <b>
                                    @if (item.intSize == 1)
                                    {
                                        <b>Size:S</b>}
                                    @if (item.intSize == 2)
                                    {
                                        <b>Size: M</b>}
                                    @if (item.intSize == 3)
                                    {
                                        <b>Size: L</b>}
                                    @if (item.intSize == 4)
                                    {
                                        <b>Size: XL</b>}
                                    @if (item.intSize == 5)
                                    {
                                        <b>Size: XXL</b>}
                                    @if (item.intSize == 6)
                                    {
                                        <b>Size: XXXL</b>}
                                </b>
                                <br />
                                @if (item.intCategory == 1)
                                {
                                    <b>Category:Kids</b>}
                                @if (item.intCategory == 2)
                                {
                                    <b>Category:Women</b>}
                                @if (item.intCategory == 3)
                                {
                                    <b>Category:Men</b>}
                            </center>

                            <hr class="mt-2 mx-3">
                            <div class="mx-3 mt-3 mb-2">
                                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModalCenter" onclick="GetSingleData(@item.intId,@item.strPId)">
                                    View Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><b>Product Details</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="intPrice" placeholder="Price" disabled>
                                            <input type="hidden" value="0" id="hdnintId" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Material" class="col-sm-2 col-form-label">Material</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="strMaterial" placeholder="Material" disabled>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="Category" class="col-sm-2 col-form-label">Design</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="strDesign" placeholder="Design" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Category" class="col-sm-2 col-form-label">Product Detail</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="strProductDetails" placeholder="Category" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Category" class="col-sm-2 col-form-label">Enter Quantity</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="intQty" placeholder="Enter Quantity" required >
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <input type="hidden" id="strPId" />
                                    <input type="hidden" id="intSize" />
                                    <input type="hidden" id="intCategory" />
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="InsertData(@item.strPId,@item.intSize,@item.intCategory)">BUY</button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<script>
    function GetSingleData(intId, strPId) {
        debugger
        //var intId = document.getElementById('hdnintId').value;
        document.getElementById('hdnintId').value = intId;
        document.getElementById('strPId').value = strPId;
        var strMaterial = document.getElementById('strMaterial').value;
        var intPrice = document.getElementById('intPrice').value;
        var strProductDetails = document.getElementById('strProductDetails').value;
        var strDesign = document.getElementById('strDesign').value;
        var cls = {
            intId: intId,
            strPId: strPId
        }
        $.ajax({
            url: '/BeachTShirt/PurchaseOrder/GetSingleItem',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                if (data != null) {
                    document.getElementById('hdnintId').value = data.intId;
                    document.getElementById('strMaterial').value = data.strMaterial;
                    document.getElementById('intPrice').value = data.intPrice;
                    document.getElementById('strProductDetails').value = data.strProductDetail;
                    document.getElementById('strDesign').value = data.strDesign;
                }

            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }

    function InsertData(strPId, intSize, intCategory) {
        debugger
        document.getElementById('strPId').value = strPId;
        document.getElementById('intSize').value = intSize;
        document.getElementById('intCategory').value = intCategory;
        var intId = document.getElementById('hdnintId').value;
        intId = 0;
        var strMaterial = document.getElementById('strMaterial').value;
        var intPrice = document.getElementById('intPrice').value;
        var strProductDetails = document.getElementById('strProductDetails').value;
        var strDesign = document.getElementById('strDesign').value;
        // var intCategory = document.getElementById('intCategory').value;
        //var intSize = document.getElementById('intSize').value;
        var intQty = document.getElementById('intQty').value;
        if (intQty == "") {

            alert("Please enter quantity.");
            return;
        }
        var cls = {
            intId: intId,
            strMaterial: strMaterial,
            intPrice: intPrice,
            intSize: intSize,
            intCategory: intCategory,
            strProductDetails: strProductDetails,
            strDesign: strDesign,
            intQty: intQty,
            strPId: strPId
        }
        $.ajax({
            url: '/BeachTShirt/PurchaseOrder/InsertPurchaseDetails',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                if (data.data == "Success") {
                    alert('Want to confirm order');
                    location.reload();     // for refresh page after success
                }
            },
            error: function (xhr) {
                alert('errors');
            }
        });

    }

</script>

