<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .card {
            width: 250px;
            border-radius: 10px
        }

        .card-img-top {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px
        }

        span.text-muted {
            font-size: 12px
        }

        small.text-muted {
            font-size: 8px
        }

        h5.mb-0 {
            font-size: 1rem
        }

        small.ghj {
            font-size: 9px
        }

        .mid {
            background: #ECEDF1
        }

        h6.ml-1 {
            font-size: 13px
        }

        small.key {
            text-decoration: underline;
            font-size: 9px;
            cursor: pointer
        }

        .btn-danger {
            color: #FFCBD2
        }

            .btn-danger:focus {
                box-shadow: none
            }

        small.justify-content-center {
            font-size: 9px;
            cursor: pointer;
            text-decoration: underline
        }

        .add-btn {
            background-color: palevioletred;
            border: 1px solid #00c5fb;
            border-radius: 50px;
            color: #fff;
            float: right;
            font-weight: 500;
            min-width: 140px;
        }

            .add-btn:hover,
            .add-btn:focus,
            .add-btn:active {
                background-color: #00b7ed;
                border: 1px solid #00b7ed;
                color: #fff;
            }

            .add-btn i {
                margin-right: 5px;
            }
    </style>
</head>