﻿<style>

    element.style {
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        transform: translate3d(18px, 26px, 0px);
    }

    .table .dropdown-menu {
        font-size: 13px;
        min-width: 120px;
        padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

        .table .dropdown-menu .dropdown-item {
            padding: 5px 10px;
        }
</style>
<div class="table" style="height:187px;width: 100%;padding-left: 266px;">
    <table class="table ">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Product Id</th>
                <th>Design</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Order Date</th>
                <th>Category</th>
                <th>Status</th>
                <th>Invoice</th>
                <th>Due Date</th>
            </tr>

        </thead>
        @if (Model != null && Model.LStPurchaseList.Count > 0)
        {
    <tbody id="tblBody">
        @for (var i = 0; i < Model.LStPurchaseList.Count; i++)
        {
            var item = Model.LStPurchaseList[i];
        <tr>
            <td>@(i + 1)</td>
            <td>@item.strPId</td>
            <td>@item.strDesign</td>
            @*<td>@item.strVoter</td>*@
          
            <td>@item.intPrice</td>
            <td>@item.intQty</td>
            <td>@item.strCreatedDate</td>
            @if (item.intCategory == 1)
            {
                <td>Kids</td>
            }
            @if (item.intCategory == 2)
            {
                <td>Women</td>

            }
            @if (item.intCategory == 3)
            {
                <td>Men</td>

            }
            <td>
                @if (item.intStatus == 0)
                {
                    <a><i class="fa fa-clock-o" aria-hidden="true"></i>Pending</a>
                }
                else
                {
                    <a>Sent</a>
                }

            </td>
            @*<td>
                <button onclick="ChangeStatus(@item.intId)">Change</button>
            </td>*@
        <td>
            @if (item.intStatus == 0)
            {
                <button onclick="SendInvoice(@item.intId)">SEND</button>
            }
            @if (item.intStatus == 1)
            {
                <button onclick="SendInvoice(@item.intId)" disabled>SEND</button>
            }
            @if (item.intStatus == 2)
            {
                    <a>Payment Received</a>
            }
        </td>
            <td>@item.strDueDate</td>
        </tr>
            
        }
    </tbody>

        }
        else
        {
            <tr>
                <td colspan="10">
                    <h5 style="text-align: center;"><b>No Record Found</b></h5>
                </td>
            </tr>
        }

    </table>
</div>


<script>
    function ChangeStatus(intId) {
        debugger
        var cls = {
            intId: intId
        }
        $.ajax({
            url: '/PurchaseOrder/StatusChange',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                if (data.data == "status update") {
                    alert('Statuse Update SuccessFully');
                    location.reload();     // for refresh page after success
                }
            },
            error: function (xhr) {
                alert('errors');
            }
        });

    }
    function SendInvoice(id) {
        debugger
        window.location.href = "/Invoice/GenerateInvoice?intId=" + id + "";
    }
</script>