﻿
@{
    ViewBag.Title = "GenerateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .submit-section {
        text-align: center;
        margin-top: 40px;
    }

    .submit-btn {
        background-color: #00b7ed !important;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .btn {
        border-radius: 5px;
        width: fit-content;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }


    .submit-btn {
        background-color: #00b7ed !important;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 20px;
    }
</style>
<br />
<br />
<center><h4><b>Invoice Details</b></h4></center>
<div class="row" style="padding-top: 100px;padding-left: 325px;margin-top: -43px;">
    <div class="col-sm-5">
        <div class="form-group">

            <label for="basicinput"><b>Product Order No</b></label>
            <input type="text" id="strPId" class="form-control" disabled>

        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Design Name</b></label>
            <input type="text" id="strDesign" class="form-control" maxlength="50" disabled>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Total Amount</b></label>
            <input type="text" id="intPrice" class="form-control" maxlength="50" disabled>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Date Due</b><span style="color: red">*</span></label>
            <input type="date" id="dtDueDate" class="form-control" maxlength="50" >
        </div>
    </div>

</div>
<div class="submit-section">
    <button class="btn submit-btn" style="background-color:#00c5fb;color:white;" onclick="InsertData()"><span id="spnButtonTitle">SEND</span></button>

    <input type="hidden" id="hdnintId" data-val="true" value="0" />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        //getDepartment();
        var intId = '@Request.QueryString["intId"]';
       
        if (intId != null && intId.trim() != "") {
            GetSingleData(intId);
        }
    });//for refresh page after success
</script>
<script>
    function GetSingleData(intId) {
        var cls = {
            intId: intId
        }
        debugger
        $.ajax({
            url: "/Invoice/GetData",
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                document.getElementById('strPId').value = data.strPId;
                document.getElementById('strDesign').value = data.strDesign;
                document.getElementById('intPrice').value = data.intPrice;
            },
            failure: function () {
                alert("Failed!");
            }
        });
    }
</script>
<script>
    function InsertData() {
        debugger
       var strPId= document.getElementById('strPId').value ;
       var strDesign= document.getElementById('strDesign').value ;
        var intPrice = document.getElementById('intPrice').value;
        var dtDueDate = document.getElementById('dtDueDate').value;
        if (dtDueDate == '') {
            alert('Please enter due date');
        }
        var cls = {
            strPId: strPId,
            strDesign:strDesign,
            intPrice: intPrice,
            dtDueDate: dtDueDate
        }
        $.ajax({
            url: '/Invoice/InsertInvoice',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                if (data.data == "Success") {
                    alert('Invoice Send to the Beach - Tshirst');
                    window.location.href = '/PurchaseOrder/PurchaseOrderDetails';
                    //window.location.reload();     // for refresh page after success
                }
            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }
</script>

