﻿
@{
    ViewBag.Title = "ShipInvoice";
    Layout = "~/Areas/BeachTShirt/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>

<style>

    body {
        background: #F5F1EE;
        font-family: 'Roboto', sans-serif
    }

    .card {
        width: 250px;
        border-radius: 10px
    }

    .card-img-top {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px
    }

    span.text-muted {
        font-size: 12px
    }

    small.text-muted {
        font-size: 8px
    }

    h5.mb-0 {
        font-size: 1rem
    }

    small.ghj {
        font-size: 9px
    }

    .mid {
        background: #ECEDF1
    }

    h6.ml-1 {
        font-size: 13px
    }

    small.key {
        text-decoration: underline;
        font-size: 9px;
        cursor: pointer
    }

    .btn-danger {
        color: #FFCBD2
    }

        .btn-danger:focus {
            box-shadow: none
        }

    small.justify-content-center {
        font-size: 9px;
        cursor: pointer;
        text-decoration: underline
    }


    .add-btn {
        background-color: palevioletred;
        border: 1px solid #00c5fb;
        border-radius: 50px;
        color: #fff;
        float: right;
        font-weight: 500;
        min-width: 140px;
    }

        .add-btn:hover,
        .add-btn:focus,
        .add-btn:active {
            background-color: #00b7ed;
            border: 1px solid #00b7ed;
            color: #fff;
        }

        .add-btn i {
            margin-right: 5px;
        }

    .float-right {
        float: right !important;
    }

    .custom-modal .modal-content {
        border: 0;
        border-radius: 10px;
    }

    .custom-modal .modal-body {
        padding: 30px;
    }

    .form-header {
        text-align: center;
        margin-bottom: 30px;
    }

    element.style {
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        transform: translate3d(18px, 26px, 0px);
    }

    .table .dropdown-menu {
        font-size: 13px;
        min-width: 120px;
        padding: 0;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

        .table .dropdown-menu .dropdown-item {
            padding: 5px 10px;
        }
</style>
<br />
<br />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Designer</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Content/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="~/Content/css/style.min.css" rel="stylesheet">
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full"></div>

    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/BeachTShirt/Home/Dashboard" aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/BeachTShirt/PurchaseOrder/PurchaseOrder" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu">Raise Order</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/BeachTShirt/OrderDetail/OrderDetail"
                           aria-expanded="false">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="hide-menu">Order Details</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/BeachTShirt/ReceiveInvoice/Invoice"
                           aria-expanded="false">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="hide-menu">Invoice</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/BeachTShirt/ReceiveInvoice/ShipInvoice"
                           aria-expanded="false">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="hide-menu">Shipment Invoice</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</body>
<input type="hidden" id="hdnintId" value="0" />
<div class="modal custom-modal fade" id="delete_Design" Department="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Confirmation</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row" style="margin-left: 113px;">
                        <div class="col-4">
                            <a title="Delete" href="javascript:void(0);" class="btn continue-btn" onclick="deleteDesign();">Delete</a>
                        </div>
                        <div class="col-4">
                            <a title="Cancel" href="javascript:void(0);" data-dismiss="modal" class="btn btn-dark submit-btn ">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div id="tblBody">

</div>

<div class="table" style="height:187px;width: 100%;padding-left: 266px;">
    <table class="table ">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Product Id</th>
                <th>Design Name</th>
                <th>Pick Address</th>
                <th>Deliver Address</th>
                <th>Total Amount</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>

        </thead>
        @if (Model != null && Model.LSTShipinvoicelist.Count > 0)
        {
            <tbody id="tblBody">
                @for (var i = 0; i < Model.LSTShipinvoicelist.Count; i++)
                {
                    var item = Model.LSTShipinvoicelist[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.strPId</td>
                    <td>@item.strDesign</td>
                    <td>@item.pickaddress</td>
                    <td>@item.deliveraddress</td>
                    <td><b>@item.intPrice</b></td>
                    <td>@item.DueDate</td>
                    <td>
                        @if (item.intStatus == 1)
                        {
                            <a><i class="fa fa-clock-o" aria-hidden="true"></i>Pending</a>
                        }
                        @if (item.intStatus == 2)
                        {
                            <a>Payment Done</a>
                        }

                    </td>
                    <td>
                        @if (item.intStatus == 2)
                        {
                            <button onclick="SendInvoice(@item.intId)" disabled><i class="fa fa-paper-plane" aria-hidden="true"></i>SEND</button>
                        }
                        else
                        {
                            <button onclick="SendInvoice(@item.intId)"><i class="fa fa-paper-plane" aria-hidden="true"></i>SEND</button>
                        }

                    </td>
                   
                </tr>


                }

            </tbody>

        }
        else
        {
            <tr>
                <td colspan="7">
                    <h5 style="text-align: center;"><b>No Record Found</b></h5>
                </td>
            </tr>
        }

    </table>
</div>
<script>
    function SendInvoice(id) {
        debugger
        document.getElementById('hdnintId').value = id;
        var intId = document.getElementById('hdnintId').value;
        var cls =
        {
            intId: intId
        }

        $.ajax({
            url: '/ReceiveInvoice/UpdateShipStatus',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                if (data.data == "status update") {
                    alert('Amount send.');
                    location.reload();     // for refresh page after success

                }
                else {
                    alert('error');
                }

            },
            error: function (xhr) {

                alert('errors');
            }
        });
    }
</script>