﻿
@{
    ViewBag.Title = "AddDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .submit-section {
        text-align: center;
        margin-top: 40px;
    }

    .submit-btn {
        background-color: #00b7ed !important;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .btn {
        border-radius: 5px;
        width: fit-content;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }


    .submit-btn {
        background-color: #00b7ed !important;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 20px;
    }
</style>
<br />
<br />
<center><h4><b>Add designs</b></h4></center>
<div class="row" style="padding-top: 100px;padding-left: 325px;margin-top: -43px;">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Design Name</b><span style="color: red">*</span></label>
            <input type="text" id="strDesign" class="form-control">
            @*<input type="hidden" id="hdnintId" data-val="true" value="" />*@
        </div>
    </div>
    &nbsp;

    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Material</b><span style="color: red">*</span></label>
            <input type="text" id="strMaterial" class="form-control" maxlength="50">
        </div>
    </div>
    &nbsp;
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Colour</b><span style="color: red">*</span></label>
            <input type="text" id="strColour" class="form-control">
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Price</b><span style="color: red">*</span></label>
            <input type="text" id="intPrice" class="form-control" maxlength="30">
        </div>
    </div>

    &nbsp;

    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
            <label for="cars">
                <b>Size</b>
                <span style="color: red">*</span>
            </label>
            <br />
            <select tabindex="1" data-placeholder="Select here.." id="intSize" name="intParentId" class="select floating" style="width: 481px; height: 45px;">
                <option value="0">--Select Size--</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="4">XL</option>
                <option value="5">XXL</option>
                <option value="6">XXXL</option>
            </select>
        </div>
    </div>

    <div class="col-sm-5" style="padding-right: 253px;">
        <div class="form-group" style="padding-left: 200px;">
            <label for="basicinput" style="padding-left: -5px;">
                <b style="padding-right: 0px;">Product Details</b><span style="color: red">*</span>
            </label>
            <input type="text" id="strProductDetails" class="form-control" style="width: 1142%;">
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b>Design</b><span style="color: red">*</span></label>
            <input type="file" id="strProfile" class="form-control">
            <input type="hidden" id="hdnintId" data-val="true" value="0" />
        </div>
    </div>

    <div class="col-sm-5">
        <div class="form-group">
            <label for="basicinput"><b> Quantity</b><span style="color: red">*</span></label>
            <input type="number" id="intQty" class="form-control">
            @*<input type="hidden" id="hdnintId" data-val="true" value="" />*@
        </div>
    </div>


    &nbsp;

    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus select-focus">
            <label for="cars">
                <b>Categories</b>
                <span style="color: red">*</span>
            </label>
            <br />
            <select tabindex="1" data-placeholder="Select here.." id="intCategory" name="intParentId" class="select floating" style="width: 481px; height: 45px;">
                <option value="4">--Select Status--</option>
                <option value="1">Kids</option>
                <option value="2">Women</option>
                <option value="3">Men</option>
            </select>
        </div>
    </div>
    &nbsp;
</div>


<div class="submit-section">
    <button class="btn submit-btn" style="background-color:#00c5fb;color:white;" onclick="InsertData()"><span id="spnButtonTitle">Add</span></button>
    <button class="btn submit-btn" style="background-color:#00c5fb;color:white;" onclick="ClearData()">Clear</button>
    <input type="hidden" id="hdnintId" data-val="true" value="" />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        //getDepartment();
        var intId = '@Request.QueryString["intId"]';
        if (intId != null && intId.trim() != "") {
            GetSingleDesignData(intId);
        }
    });//for refresh page after success
</script>
<script>
    function InsertData() {
        debugger
        var intId = document.getElementById('hdnintId').value;
        var strProfile = document.getElementById('strProfile').value;
       // var strPId = document.getElementById('strPId').value;
        var intSize = document.getElementById('intSize').value;
        var strMaterial = document.getElementById('strMaterial').value;
        var intPrice = document.getElementById('intPrice').value;
        var intQty = document.getElementById('intQty').value;
        var strProductDetails = document.getElementById('strProductDetails').value;
        var strColour = document.getElementById('strColour').value;
        var intCategory = document.getElementById('intCategory').value;
        var strDesign = document.getElementById('strDesign').value;

        //if (strPId == "") {

        //    alert("Please enter id.");
        //    return;
        //}
        if (strDesign == "") {
            alert("Please enter Design.");
            return;
        }
        else if (strDesign.match("^[A-Za-z]+$") == null) {
            alert('Please enter valid Design Name.');
            return;
        }
        if (strMaterial == "") {

            alert("Please enter material.");
            return;
        }
        else if (strMaterial.match("^[A-Za-z]+$") == null) {
            alert('Please enter valid Material Name.');
            return;
        }
        if (strColour == "") {
            alert("Please enter Colour.");
            return;
        }
        else if (strColour.match("^[A-Za-z]+$") == null) {
            alert('Please enter valid Colour.');
            return;
        }
        if (intPrice == "") {

            alert("Please enter price.");
            return;
        }

        else if (intPrice.match("^[0-9]+$") == null) {
            alert('Please enter valid Price.');
            return;
        }
        if (intSize == 0) {

            alert("Please select size.");
            return;
        }
        if (strProductDetails == "") {

            alert("Please enter detail.");
            return;
        }
        else if (strProductDetails.match("^[a-zA-Z]+$") == null) {
            alert('Please enter valid Product Detail.');
            return;
        }

        if (intQty == 0) {
            alert("Please Enter Quantity.");
            return;
        }
        
       
        if (intCategory.value == 4) {
            alert("Please select a Category");
            return false;
        }

        var strProfile = document.getElementById('strProfile').files[0];
        var d = new FormData();
        d.append("intId", intId);
        d.append("strProfile", strProfile);
        d.append("intSize", intSize);
       // d.append("strPId", strPId);
        d.append("strMaterial", strMaterial);
        d.append("intQty", intQty);
        d.append("intPrice", intPrice);
        d.append("strProductDetails", strProductDetails);
        d.append("intCategory", intCategory);
        d.append("strColour", strColour);
        d.append("strDesign", strDesign);
        $.ajax({
            url: '/Designer/InsertDesign',
            type: "POST",
            data: d,
            contentType: false,
            processData: false,

            success: function (data) {

                if (data != null) {
                    if (data == 'success') {
                        alert('Design inserted successfully.');
                        window.location.href = "/Designer/ViewDesign";
                        
                    }
                    else if (data == 'update' && intId > 0) {
                        alert('Design updated successfully.');
                        window.location.href = "/Designer/ViewDesign";
                       
                    }

                    document.getElementById('hdnintId').value = "0";
                }
            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }
    function ClearData() {
        document.getElementById('hdnintId').value = "";
        document.getElementById('strProfile').value = "";
        document.getElementById('strPId').value = "";
        document.getElementById('intSize').value = "";
        document.getElementById('strMaterial').value = "";
        document.getElementById('intPrice').value = "";
        document.getElementById('strProductDetails').value = "";
        document.getElementById('intCategory').value = "";
        document.getElementById('strColour').value = "";
        document.getElementById('strDesign').value = "";
    }
</script>

<script>
    function GetSingleDesignData(intId) {
        debugger
        document.getElementById('hdnintId').value = intId;
        var cls = {
            intId: intId
        }
        $.ajax({
            url: '/Designer/GetSingleDesign',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls

            }),
            success: function (data) {
                debugger
                if (data != null) {
                    //alert('success');
                   
                    // for refresh page after success
                    document.getElementById('hdnintId').value = data.intId;
                    document.getElementById('intSize').value = data.intSize;
                    document.getElementById('strMaterial').value = data.strMaterial;
                    document.getElementById('intPrice').value = data.intPrice;
                    document.getElementById('strProductDetails').value = data.strProductDetail;
                    document.getElementById('intCategory').value = data.intGender;
                    document.getElementById('strColour').value = data.strColour;
                    document.getElementById('strDesign').value = data.strDesign;
                    document.getElementById('intQty').value = data.intQty;

                }

            },
            error: function (xhr) {
                alert('errors');
            }
        });
    }

</script>